@charset "UTF-8";

// width ------------------------
$width-base: 1200px;
$width-wrap: 960px;
$width-main: 640px;
$width-side: $width-wrap - $width-main - 20;

// font  -------------------------
$font-base: Sans-Serif;
$font-serif: serif;

// color  ------------------------
$color-main: #0062b2;
$color-sub: #def1fa;
$color-font: #333;
$color-link: #ff8c28;

// break point -------------------
$breakpoints: (
  xs: 'only screen and (max-width: 320px)',
  s: 'only screen and (max-width: 575px)',
  m: 'only screen and (max-width: 767px)',
  l: 'only screen and (max-width: 991px)',
  xl: 'only screen and (max-width: 1199px)',
  sp: 'screen and (max-width: 599px)',
  pc: 'screen and (min-width: 600px)'
);
